/*
* Clubs
*/
#clubsAce {
    background-image: url(../cards/clubs/clubsAce.png);
}

#clubsTwo {
    background-image: url(../cards/clubs/clubsTwo.png);
}

#clubsThree {
    background-image: url(../cards/clubs/clubsThree.png);
}

#clubsFour {
    background-image: url(../cards/clubs/clubsFour.png);
}

#clubsFive {
    background-image: url(../cards/clubs/clubsFive.png);
}

#clubsSix {
    background-image: url(../cards/clubs/clubsSix.png);
}

#clubsSeven {
    background-image: url(../cards/clubs/clubsSeven.png);
}

#clubsEight {
    background-image: url(../cards/clubs/clubsEight.png);
}

#clubsNine {
    background-image: url(../cards/clubs/clubsNine.png);
}

#clubsTen {
    background-image: url(../cards/clubs/clubsTen.png);
}

#clubsJack {
    background-image: url(../cards/clubs/clubsJack.png);
}

#clubsQueen {
    background-image: url(../cards/clubs/clubsQueen.png);
}

#clubsKing {
    background-image: url(../cards/clubs/clubsKing.png);
}

/*
* Diamonds
*/
#diamondsAce {
    background-image: url(../cards/diamonds/diamondsAce.png);
}

#diamondsTwo {
    background-image: url(../cards/diamonds/diamondsTwo.png);
}

#diamondsThree {
    background-image: url(../cards/diamonds/diamondsThree.png);
}

#diamondsFour {
    background-image: url(../cards/diamonds/diamondsFour.png);
}

#diamondsFive {
    background-image: url(../cards/diamonds/diamondsFive.png);
}

#diamondsSix {
    background-image: url(../cards/diamonds/diamondsSix.png);
}

#diamondsSeven {
    background-image: url(../cards/diamonds/diamondsSeven.png);
}

#diamondsEight {
    background-image: url(../cards/diamonds/diamondsEight.png);
}

#diamondsNine {
    background-image: url(../cards/diamonds/diamondsNine.png);
}

#diamondsTen {
    background-image: url(../cards/diamonds/diamondsTen.png);
}

#diamondsJack {
    background-image: url(../cards/diamonds/diamondsJack.png);
}

#diamondsQueen {
    background-image: url(../cards/diamonds/diamondsQueen.png);
}

#diamondsKing {
    background-image: url(../cards/diamonds/diamondsKing.png);
}

/*
* Hearts
*/
#heartsAce {
    background-image: url(../cards/hearts/heartsAce.png);
}

#heartsTwo {
    background-image: url(../cards/hearts/heartsTwo.png);
}

#heartsThree {
    background-image: url(../cards/hearts/heartsThree.png);
}

#heartsFour {
    background-image: url(../cards/hearts/heartsFour.png);
}

#heartsFive {
    background-image: url(../cards/hearts/heartsFive.png);
}

#heartsSix {
    background-image: url(../cards/hearts/heartsSix.png);
}

#heartsSeven {
    background-image: url(../cards/hearts/heartsSeven.png);
}

#heartsEight {
    background-image: url(../cards/hearts/heartsEight.png);
}

#heartsNine {
    background-image: url(../cards/hearts/heartsNine.png);
}

#heartsTen {
    background-image: url(../cards/hearts/heartsTen.png);
}

#heartsJack {
    background-image: url(../cards/hearts/heartsJack.png);
}

#heartsQueen {
    background-image: url(../cards/hearts/heartsQueen.png);
}

#heartsKing {
    background-image: url(../cards/hearts/heartsKing.png);
}

/*
* Spades
*/
#spadesAce {
    background-image: url(../cards/spades/spadesAce.png);
}

#spadesTwo {
    background-image: url(../cards/spades/spadesTwo.png);
}

#spadesThree {
    background-image: url(../cards/spades/spadesThree.png);
}

#spadesFour {
    background-image: url(../cards/spades/spadesFour.png);
}

#spadesFive {
    background-image: url(../cards/spades/spadesFive.png);
}

#spadesSix {
    background-image: url(../cards/spades/spadesSix.png);
}

#spadesSeven {
    background-image: url(../cards/spades/spadesSeven.png);
}

#spadesEight {
    background-image: url(../cards/spades/spadesEight.png);
}

#spadesNine {
    background-image: url(../cards/spades/spadesNine.png);
}

#spadesTen {
    background-image: url(../cards/spades/spadesTen.png);
}

#spadesJack {
    background-image: url(../cards/spades/spadesJack.png);
}

#spadesQueen {
    background-image: url(../cards/spades/spadesQueen.png);
}

#spadesKing {
    background-image: url(../cards/spades/spadesKing.png);
}
