#playerHand {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-top: auto;
    z-index: 3;
    /* align-items: center; */
}

#playerHand > * {
    display: flex;
    flex-direction: row;
}

#playerHand > .initialCards {
    transform: translate3d(-4rem,-4rem,0) rotate(90deg);
}

.hiddenAndShown > .shownCard {
    transform: translate3d(0, 4.5rem, 0);
}

.hiddenAndShown > .shownCard:hover {
    transform: translateY(3.2rem) scale(1.5);
    z-index: 2;
}

#playerHand .card:hover {
    cursor: pointer;
}

#playedStack {
    position: absolute;
    top: calc(50% - 3.5rem);
    margin: auto;
}

#playedStack > * {
    position: absolute;
    top: 0;
}

#opponantHand {
    position: absolute;
    top: 0;
    right: 0;
    justify-content: flex-end;
}

.personalDeck {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.card {
    width: 5rem;
    height: 7rem;
    border: 2px solid black;
    background-color: white;
    border-radius: 3px;
    background-size: contain;
}

.card:hover {
    transform: translateY(-2rem) scale(1.55);
    z-index: 2;
}

.topStack {
    z-index: 4;
}

/*
* TO BE MOVED TO THE 'cardFaces.css' FILE WHEN IMAGES ARE COMPLETE
*/

#SpadesAce {
    background-image: url(../cards/spades/AS.png);
}

#Diamonds2 {
    background-image: url(../cards/diamonds/2D.png);
}

#Diamonds3 {
    background-image: url(../cards/diamonds/3D.png);
}

#Hearts3 {
    background-image: url(../cards/hearts/heartsThree.png);
}

#Clubs4 {
    background-image: url(../cards/clubs/4C.png);
}

#QD {

}

#TwoC {

}

#EightC {

}
